table {
    border: 3px solid transparent;
    border-spacing: 1;
    border-collapse: collapse;
    background: #101010;
    color: #a6a6a6;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    width: 100%;
    white-space: pre-line;
  }

  th {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ddd;
    line-height: 1.5;
  }
  td:first-child {
    width: 1%;
    white-space: nowrap;
}
td:nth-child(2){
  width: 1%;
  white-space: nowrap;
}
td:nth-child(3){
  width: 1%;
  white-space: nowrap;
}
  a{
    color:#d64230;
  }

 /* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: thin;  /* Firefox */
} 


  table td,
  table th {
    text-align: left;
    border: 2px #78787f solid;
  }

  table thead tr th {
    /* Important */
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: #101010;
  }
